*{
    font-family: 'Courier New', Courier, monospace;
}

.selected{
    background-color: yellow;
}

main aside{
    display: inline-block;
}

main{
    position: relative;
    width: 50%;
    float: left;
}

aside{
    position: relative;
    width: 50%;
    float: right;
}